@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Montserrat', sans-serif;
	scrollbar-gutter: stable;
	scroll-behavior: smooth;
}
